.side-menu{
  position: absolute;
  max-height: 100vh;
  top: 5rem;
  bottom: 0;
  width: 220px;
  background-color: white;
  overflow-y: scroll;
}

.management-area{
  position: absolute;;
  top: 5rem;
  left: 220px;
  right: 0;
}

.flex-container{
  margin: 10px 25px;
}
